body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ Full Application Div ------ */
#application-div {
    display: flex;
}

/* ------ Widget Div(s) ------ */
#pomodoro-timer,
#spotify-div {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-left: 10px;
    margin-right: 10px;
}

/* --------------------- Pomodoro Widget --------------------- */
/* ------ Pomodoro Heading ------ */
#pomodoro-timer h1 {
    text-align: center;
}

/* ------ Button(s) Div ------ */
#button-container {
    display: flex;
    justify-content: space-around;
}

/* ------ Button(s) ------ */
#start-timer, #pause-timer, #reset-timer, #toggle-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ------ Timer Display ------ */
#timer-display {
    font-size: 2em;
    text-align: center;
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/* ------ Inputs ------ */
#focus-input-container,
#short-input-container,
#long-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* ------ Amount of Pomodoro(s) Completed ------ */
#focus-number-container {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* ------ Input Fields ------ */
#focus-length,
#short-break-length,
#long-break-length {
    width: 50px;
    color: #fff;
    background-color: #555;
    border: none;
    margin-left: 10px;
}

/* ------ Timer Progress Bar Div ------ */
#progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #555;
    border-radius: 10px;
    overflow: hidden;
}

/* ------ Timer Progress Bar ------ */
#progress-bar {
    height: 100%;
    background-color: #ff6347;
    width: 100%;
}

/* --------------------- Spotify Login --------------------- */
#spotify-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------ Spotify Login Button ------ */
#login-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* --------------------- Spotify Widget --------------------- */
#spotify-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------ Center Text ------ */
#spotify-div p {
    text-align: center;
    align-items: center;
}

/* ------ Spotify Track Name ------ */
#track-name {
    font-weight: bold;
}

/* ------ Spotify Album Art ------ */
#album-art {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 18px;
}

/* ------ Spotify Button(s) ------ */
#toggle-button, #next-button, #prev-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ------ Spotify Volume Slider ------ */
#volume-slider {
    width: 100%;
    height: 25px;
    background: #555;
    color: #ff6347;
    outline: none;
    border-radius: 10px;
}

/* ------ Audio Controls Div ------ */
#audio-controls {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}